#title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

form label{
    font-size: 17px;
    font-weight: 500;
}

input{
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
}

#submit{
    background-color: black;
    color: white;
    height: 40px;
    margin-bottom: 50px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}